In [17]:
import json

def get_date_balance(normalized_data, tolerance=0.01):
    with open(normalized_data, 'r') as file:
        data = json.load(file)

    x_start = float('inf')
    x_end = float('-inf')
    date = []
    balance = []
    
    for page in data:
        for word in page['words']:
            x_coordinate = word['geometry'][0][0]

            if x_coordinate < x_start:
                x_start = x_coordinate

            if x_coordinate > x_end:
                x_end = x_coordinate

        for word in page['words']:
            x_coordinate = word['geometry'][0][0]
            y_coordinate = word['geometry'][0][1]

            if abs(x_coordinate - x_start) <= tolerance:
                date.append( y_coordinate)

            if abs(x_coordinate - x_end) <= tolerance:
                balance.append(y_coordinate)

    return date, balance, data

In [20]:
def group_rows(date, data):
    rows = []
    
    for i, soo in enumerate(date):

        if i + 1 < len(date):
            next_y_coord = date[i + 1]
        else:
            next_y_coord = soo 
        row_data = []
        for page in data:
            for word in page['words']:
                item_y_coord = word['geometry'][0][1]

                if item_y_coord < next_y_coord and abs(item_y_coord - soo) <= 0.01 :
                    row_data.append(word['value'])
        
        rows.append({'row_data': row_data})
    
    return rows

In [23]:
date, balance, data = get_date_balance('sample/normalized/mandiri-account_statement.json')

rows = group_rows(date, data)

rows
# for entry in distances:
#     print(f"Date: {entry[0]}, Balance: {entry[1]}, Y-Distance: {entry[2]}")

[{'row_data': ['01/03',
   '28/02',
   '704005145267314219110357473483650A',
   'GA',
   '863,702.00',
   '275,713,469.00']},
 {'row_data': ['GA',
   '863,702.00',
   '275,713,469.00',
   '02/03',
   '01/03',
   '704935145267314219110757179000450A',
   'GA',
   '320,784.00',
   '276,034,253.00']},
 {'row_data': ['GA',
   '320,784.00',
   '276,034,253.00',
   '02/03',
   '01/03',
   'PARRESTDEPISSERAUL',
   'GA',
   '769,845.00',
   '276,803.038.00']},
 {'row_data': ['GA',
   '769,845.00',
   '276,803.038.00',
   '03/03',
   '02/03',
   '704905145267314219106157653654150A',
   'GA',
   '549,175.00',
   '277,352,273.00']},
 {'row_data': ['704905145267314219106157653654150A',
   'GA',
   '549,175.00',
   '277,352,273.00',
   '04/03',
   '03/03',
   'DARMGENENPTRSTESELL',
   'GA',
   '9,555,545.00',
   '286.907,918.00']},
 {'row_data': ['GA',
   '9,555,545.00',
   '286.907,918.00',
   '06/03',
   '05/03',
   'BAEEARETIENPIRSETAAL',
   'GA',
   '399,400.00',
   '287,307,318.00']},
 {'row_data': ['GA',
   '399,400.00',
   '287,307,318.00',
   '07/03',
   '06/03',
   'DAOENEDERTRSERNGXOE',
   'GA',
   '8,087,850.00',
   '295,295,188.00']},
 {'row_data': ['GA',
   '8,087,850.00',
   '295,295,188.00',
   '08/03',
   '07/03',
   '70405145367314219110852705841504',
   'GA',
   '928,605.00',
   '296.323,773.00']},
 {'row_data': ['70405145367314219110852705841504',
   'GA',
   '928,605.00',
   '296.323,773.00',
   '10/03',
   '09/03',
   '704905145267314219110653460100490A',
   'GA',
   '3,504,735.00',
   '299,828,508.00']},
 {'row_data': ['GA',
   '3,504,735.00',
   '299,828,508.00',
   '11/03',
   '10/03',
   'DAEESEETISRSTAUL4',
   'GA',
   '1,178,230.00',
   '301,006.738.00']},
 {'row_data': ['GA',
   '1,178,230.00',
   '301,006.738.00',
   '12/03',
   '11/03',
   'DAOEAGETRENNOSEARAUE',
   'GA',
   '569,145.00',
   '301,575,883.00']},
 {'row_data': ['GA',
   '569,145.00',
   '301,575,883.00',
   '13/03',
   '12/03',
   'T04005145267312191107158743744924',
   'GA',
   '1,273,087.00',
   '302,848,970.00']},
 {'row_data': ['GA',
   '1,273,087.00',
   '302,848,970.00',
   '14/03',
   '13/03',
   '704251452673142191077258201804524',
   'GA',
   '5,610,070.00',
   '309.459,040.00']},
 {'row_data': ['GA',
   '5,610,070.00',
   '309.459,040.00',
   '15/03',
   '14/03',
   'TASERTILMIUENETUSAL',
   'GA',
   '1,377,930.00',
   '310,836,970.00']},
 {'row_data': ['GA',
   '1,377,930.00',
   '310,836,970.00',
   '16/03',
   '15/03',
   'TARESRTEMUGNNENOL',
   'GA',
   '2,646,024.00',
   '313,482,994.00']},
 {'row_data': ['GA',
   '2,646,024.00',
   '313,482,994.00',
   '17/03',
   '16/03',
   'TARHEENGNUSARNNO4',
   'GA',
   '3,644,525.00',
   '317,127,519.00']},
 {'row_data': ['GA',
   '3,644,525.00',
   '317,127,519.00',
   '18/03',
   '17/03',
   '70420514525731421911065314198.650L4',
   'GA',
   '5,032,350.00',
   '322,219,389.00']},
 {'row_data': ['GA',
   '5,032,350.00',
   '322,219,389.00',
   '19/03',
   '18/03',
   '704051452673142191107759485193150LA',
   'GA',
   '8.297,535.00',
   '330,517,404.00']},
 {'row_data': ['704051452673142191107759485193150LA',
   'GA',
   '8.297,535.00',
   '330,517,404.00',
   '20/03',
   '19/03',
   '70490514526731421911085861466.152A',
   'SA',
   '2,915,770.00',
   '333.333,174.00']},
 {'row_data': ['SA',
   '2,915,770.00',
   '333.333,174.00',
   '21/03',
   '20/03',
   '70492514528731421911079597913714524',
   'GA',
   '2,955,560.00',
   '336,288,734.00']},
 {'row_data': ['70492514528731421911079597913714524',
   'GA',
   '2,955,560.00',
   '336,288,734.00',
   '22/03',
   '21/03',
   '70493514528731421910092353862245.4514',
   'GA',
   '15,936,060.00',
   '352.224,794.00']},
 {'row_data': ['GA',
   '15,936,060.00',
   '352.224,794.00',
   '129/03',
   '28/03',
   'DAREERDIEPIRRNSAARA',
   'GA',
   '923,612,00',
   '353,148,406.00']},
 {'row_data': ['GA',
   '923,612,00',
   '353,148,406.00',
   '30/03',
   '29/03',
   'SARMGFDCEPNORENUISSE4',
   'GA',
   '6,384,507.00',
   '360,132,913.00']},
 {'row_data': ['GA',
   '6,384,507.00',
   '360,132,913.00',
   '31/03',
   '30/02',
   'PAEENGETRENSMEHTURI4',
   'GA',
   '7,149,260.00',
   '367,282,173.00']},
 {'row_data': ['GA',
   '7,149,260.00',
   '367,282,173.00',
   '31/03',
   '31/03',
   'Biaya',
   'Adm',
   '12,500.00',
   'D',
   '367,269,673.00']},
 {'row_data': ['12,500.00',
   'D',
   '367,269,673.00',
   '31/03',
   '31/03',
   'Bunga',
   '286,195.00',
   '367,555,868.00']},
 {'row_data': ['286,195.00', '367,555,868.00']}]

In [ ]:
normalized_data = 'sample/normalized/mandiri-transaction_inquery.json'
target_page = 0
test = get_date_balance(normalized_data)
test

In [15]:
def main():